In [7]:
import pandas as pd
import cassandra

In [8]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster

cluster = Cluster(['127.0.0.1'])

# To establish connection and begin executing queries, need a session
session = cluster.connect()

# Set KEYSPACE to the keyspace specified above
session.set_keyspace('music_songs')

In [9]:
## SELECT statement to verify the data was entered into the table song_per_session
query_select = "SELECT sessionId, iteminsession, artist, song, length \
FROM song_per_session WHERE sessionId = 338 AND iteminsession = 4"

try:
    row = session.execute(query_select)
except Exception as e:
    print(e)
for r in row:
    print("sessionId:{} | iteminsession:{} | artist:{} | song:{} | length: {}".format(r.sessionid, r.iteminsession,r.artist, r.song, r.length))
    print("*"*70)

sessionId:338 | iteminsession:4 | artist:Faithless | song:Music Matters (Mark Knight Dub) | length: 495.30731201171875
**********************************************************************

In [10]:
## SELECT statement to verify the data was entered into the table user_listened

query_select2 = "SELECT artist, song, firstname, lastname FROM user_listened \
WHERE userId = 10 AND sessionId = 182"

try:
    row = session.execute(query_select2)
except Exception as e:
    print(e)
    
for r in row:
    print("artist:{} | song: {} | firstname:{} | lastname:{}".format(r.artist, r.song, r.firstname, r.lastname))
    print("*"*70)

artist:Down To The Bone | song: Keep On Keepin' On | firstname:Sylvie | lastname:Cruz
**********************************************************************
artist:Three Drives | song: Greece 2000 | firstname:Sylvie | lastname:Cruz
**********************************************************************
artist:Sebastien Tellier | song: Kilometer | firstname:Sylvie | lastname:Cruz
**********************************************************************
artist:Lonnie Gordon | song: Catch You Baby (Steve Pitron & Max Sanna Radio Edit) | firstname:Sylvie | lastname:Cruz
**********************************************************************

In [14]:
## SELECT statement to verify the data was entered into the table wholistened_theSong

query_select3 = "SELECT firstname , lastname \
FROM wholistened_theSong WHERE song = 'All Hands Against His Own' and userId = 80"
try:
    row = session.execute(query_select3)
except Exception as e:
    print(e)
    
for r in row:
    print("firtname:{} | lastname:{} ".format(r.firstname,  r.lastname))
    print("*"*70)

firtname:Tegan | lastname:Levine
**********************************************************************

In [6]:
session.shutdown()
cluster.shutdown()